# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# IDE and editor state
.idea/

# Expo
.expo/
/dist/
/web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.pfx
*.key
*.mobileprovision
*.keystore
google-services.json

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env
.env.development
.env.production
.env.test

# local databases
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android
.aider*
